<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/pintuer.css">
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/pintuer.js"></script>
    <title>企业管理员添加</title>
</head>

<body>
    <div class="panel">
        <div class="panel-head">
            <strong><span class="icon-key"></span>&nbsp;添加企业管理员</strong>
        </div>
        <div class="body-content">
             <form method='post' class="form-x" action="">
                 <!--账户-->
                 <div class="form-group">
                       <div class="label"> 
                           <label for="">账户：</label>
                        </div>
                        <div class="field">
                            <input type="text" class="field_input" name="username" size="50" 
                            placeholder="请输入管理员账户" data-validate="required:请输入管理员账户">
                        </div>
                 </div>
                <!--密码-->
                 <div class="form-group">
                        <div class="label"> 
                            <label for="">密码：</label>
                         </div>
                         <div class="field">
                             <input type="password" class="field_input" name="password" size="50" 
                             placeholder="请输入管理员密码" data-validate="required:请输入管理员密码&nbsp;&nbsp;,length#>=6:密码不能小于6位">
                         </div>
                  </div>
                <!--确认密码-->
                  <div class="form-group">
                        <div class="label"> 
                            <label for="">确认密码：</label>
                         </div>
                         <div class="field">
                             <input type="password" class="field_input" name="repassword" size="50" 
                             placeholder="请再次输入管理员密码" data-validate="required:请再次输入管理员密码,repeat#password:两次输入密码不一致">
                         </div>
                  </div>
                <!--提交-->
                  <div class="form-group">
                      <div class="label"><label for=""></label></div>
                      <div class="field">
                            <button class="button bg-sub button-big button-block icon-check-square-o">提交</button>
                      </div>
                  </div>
             </form>
        </div>
    </div>
</body>
</html>