<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/pintuer.css">
    <link rel="stylesheet" href="/student/index.css">
    <script src="/javascripts/jquery.js"></script>
    <title>学生登录后==>反馈信息首页</title>
</head>
<body>
     <div class="header fadein-left s_enter">
        <div class="container head-l">
            <h1 class="float-left fadein-top">欢迎登录</h1>
            <div class="button_box">
                <a class="button float-right border-blue bg-blue-light flash-hover" href="/logout">
                    <span class="icon-power-off"></span> 退出登录
                </a> 
            </div>
        </div>
    </div>

    <div class="container list_2">
        <div class="panel">
            <div class="padding padding-bottom">
                <ul class="search">
                    <li>搜索：</li>
                    <li>
                        <form method="get" action="">
                            <input type="text" placeholder="请输入职位关键字" value="" name="search" class="input" />
                            <button class="button border-sub icon-search" >搜索</button>
                        </form>
                    </li>
                </ul>
            </div>
            <table class="table text-center re_info">
                <tr>
                    <th>ID</th>
                    <th>公司名称</th>
                    <th>公司类型</th>
                    <th>职位</th>
                    <th>职位要求</th>
                    <th>发布时间</th>
                    <th>公司邮箱</th>
                    <th>操作</th>
                </tr>        
            </table>
        </div>
    </div>

    <script>
       
    </script>
</body>
</html>